<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log_format" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %level %thread [%logger{36} %method %line] %m%n"/>

    <!-- 开发环境使用 打印在控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log_format}</pattern>
        </encoder>
    </appender>

    <root>
        <level value="WARN"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>